apiVersion: v1
kind: Secret
metadata:
  name: alibabacloud-eip-operator-credentials
  namespace: alibabacloud-eip-operator-system
type: Opaque
stringData:
  ctrl-secret.yaml: |
    accessKeyID: <YOUR_ALIBABA_CLOUD_ACCESS_KEY_ID>
    accessKeySecret: <YOUR_ALIBABA_CLOUD_ACCESS_KEY_SECRET>
