---
apiVersion: v1
kind: Service
metadata:
  name: alibabacloud-eip-operator-webhook-service
  namespace: alibabacloud-eip-operator-system
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    app: alibabacloud-eip-operator
