apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: alibabacloud-eip-operator-manager-role
rules:
- apiGroups:
  - eip.alibabacloud.com
  resources:
  - eips
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eip.alibabacloud.com
  resources:
  - eips/finalizers
  verbs:
  - update
- apiGroups:
  - eip.alibabacloud.com
  resources:
  - eips/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
