---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: eips.eip.alibabacloud.com
spec:
  group: eip.alibabacloud.com
  names:
    kind: EIP
    listKind: EIPList
    plural: eips
    shortNames:
    - eip
    singular: eip
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.allocationID
      name: AllocationID
      type: string
    - jsonPath: .status.eipAddress
      name: EIP Address
      type: string
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.bandwidth
      name: Bandwidth
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EIP is the Schema for the eips API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: EIPSpec defines the desired state of EIP
            properties:
              allocationID:
                description: AllocationID 指定已存在的EIP实例ID，如果指定则不会创建新的EIP
                type: string
              bandwidth:
                description: Bandwidth EIP带宽，单位Mbps
                type: string
              bandwidthPackageID:
                description: BandwidthPackageID 带宽包ID
                type: string
              description:
                description: Description EIP描述
                type: string
              instanceChargeType:
                description: InstanceChargeType 实例计费方式，支持PrePaid和PostPaid
                type: string
              internetChargeType:
                default: PayByTraffic
                description: InternetChargeType 计费方式，支持PayByBandwidth和PayByTraffic
                type: string
              isp:
                description: ISP 线路类型
                type: string
              name:
                description: Name EIP名称
                type: string
              publicIPAddressPoolID:
                description: PublicIPAddressPoolID 公网IP地址池ID
                type: string
              releaseStrategy:
                allOf:
                - enum:
                  - Never
                  - OnDelete
                - enum:
                  - Never
                  - OnDelete
                default: OnDelete
                description: ReleaseStrategy EIP释放策略
                type: string
              resourceGroupID:
                description: ResourceGroupID 资源组ID
                type: string
              securityProtectionTypes:
                description: SecurityProtectionTypes 安全防护类型
                items:
                  type: string
                type: array
              tags:
                additionalProperties:
                  type: string
                description: Tags EIP标签
                type: object
            type: object
          status:
            description: EIPStatus defines the observed state of EIP
            properties:
              allocationID:
                description: AllocationID EIP实例ID
                type: string
              bandwidth:
                description: Bandwidth 带宽
                type: string
              bandwidthPackageID:
                description: BandwidthPackageID 带宽包ID
                type: string
              conditions:
                description: Conditions EIP状态条件
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              description:
                description: Description EIP描述
                type: string
              eipAddress:
                description: EIPAddress EIP地址
                type: string
              instanceChargeType:
                description: InstanceChargeType 实例计费方式
                type: string
              internetChargeType:
                description: InternetChargeType 计费方式
                type: string
              isp:
                description: ISP 线路类型
                type: string
              lastSyncTime:
                description: LastSyncTime 最后同步时间
                format: date-time
                type: string
              name:
                description: Name EIP名称
                type: string
              publicIPAddressPoolID:
                description: PublicIPAddressPoolID 公网IP地址池ID
                type: string
              resourceGroupID:
                description: ResourceGroupID 资源组ID
                type: string
              status:
                description: Status EIP状态
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
